################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LooganSolution/Loogan.Web.API/bin/Debug/net8.0
/LooganSolution/Loogan.Web.API/obj
/LooganSolution/Loogan.Web.UI/bin/Debug/net8.0
/LooganSolution/Loogan.Web.UI/obj
/.vs
/LooganSolution/.vs
/Loogan.Web.API/bin/Debug/net8.0
/Loogan.Web.API/obj
/Loogan.Web.UI/bin/Debug/net8.0
/Loogan.Web.UI/obj
/Loogan.API.BusinessService/bin/Debug/net8.0
/Loogan.API.BusinessService/obj
/Loogan.API.Database/bin/Debug/net8.0
/Loogan.API.Database/obj
/Loogan.API.Models/bin/Debug/net8.0
/Loogan.API.Models/obj
/Loogan.Common.Utilities/bin/Debug/net8.0
/Loogan.Common.Utilities/obj
/Loogan.Web.UI/Logs
/Loogan.Web.API/Logs
/Loogan.API.Models/bin/Release/net8.0
/Loogan.Common.Utilities/bin/Release/net8.0
/Loogan.Web.UI/bin/Release/net8.0
/Loogan.Database/obj/Debug
/Loogan.SqlServer.DatabaseScripts/obj/Debug
/Loogan.Web.UI/Properties/PublishProfiles/FolderProfile.pubxml.user
/Loogan.Web.UI/wwwroot/images/nature1.svg
/Loogan.API.BusinessService/bin/Release/net8.0
/Loogan.API.Database/bin/Release/net8.0
/Loogan.Web.API/.config
/Loogan.Web.API/bin/Release/net8.0
/Loogan.Web.API/Properties/PublishProfiles
/Loogan.Web.UI/Properties/PublishProfiles/FolderProfile.pubxml
/Loogan.SqlServer.DatabaseScripts/Loogan.SqlServer.DatabaseScripts.dbmdl
*.jfm
/Loogan.Web.API/Properties/ServiceDependencies
/Loogan.Web.API/Properties/serviceDependencies.devlooganwebapp - Web Deploy.json
/Loogan.Web.API/Properties/serviceDependencies.devlooganwebapp - Web Deploy1.json
/Loogan.Web.API/Properties/serviceDependencies.devlooganwebapp - Web Deploy.json.user
/Loogan.Web.API/Properties/serviceDependencies.devlooganwebapp - Web Deploy1.json.user
/Loogan.Web.API/Properties/serviceDependencies.json
/Loogan.Web.API/Properties/serviceDependencies.loogandevapi - Web Deploy.json
/Loogan.Web.API/Properties/serviceDependencies.loogandevapi - Web Deploy.json.user
/Loogan.Web.UI/wwwroot/institutionimages
/Loogan.Web.API/Properties
/Loogan.Web.UI/Properties/PublishProfiles
/Loogan.Web.UI/Properties/ServiceDependencies/loogandevwebui - Web Deploy
