@page "/Grade/Grade"
@model Loogan.Web.UI.Pages.Grade.StudentGradeModel
@using Loogan.API.Models.Models
@using Loogan.API.Models.Models.Admin
@using Loogan.Web.UI.Components
@using Loogan.Web.UI.Resources.Pages
@using Loogan.Web.UI.Utilities
@using Microsoft.Extensions.Localization
@attribute [LooganAdminAuthorize("Admin,Teacher")]
@inject IStringLocalizer<ContentLabel> _localizer

<component type="typeof(Upper_Component)" render-mode="Static" />
<div id="site-wrap" class="off-canvas-wrap">
    <div class="inner-wrap">
        <div class="row">
            <div class="col-2 bb-login pointscroll leftmenu">
                <component type="typeof(LeftSideBar_Component)" render-mode="Server" />
            </div>
            <div class="col-10">
                <div class="base-profile pointscroll righcontent scrollrightend">
                    <div class="columns small-12 profile-content" style="margin-top:2px !important">
                        <div class="row">
                            <div class="col-12 left-align">
                                <h2 class="coursetitle">@_localizer["InstitutionMappingKey"]</h2>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 margintop5" style="text-align:right">
                                <button type="button" class="btn btn-light border rounded-pill shadow-sm mb-1" onclick="clearRoleData()"
                                        style="background:lightgreen;color:black">
                                    <b>@_localizer["ClearKey"]</b>
                                </button>
                                <button id="btnSaveuser" type="button" class="btn btn-light border rounded-pill shadow-sm mb-1" onclick="institutionusermapping.createinstitutionUsers()"
                                        style="background:blue;color:white">
                                    <b>@_localizer["SaveKey"]</b>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Course</th>
                                            <th scope="col">Student</th>
                                            <th scope="col">Grade</th>
                                            <th scope="col">Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>
                                                <select>

                                                </select>
                                            </td>
                                            <td>mdo</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div>
                        <br />
                        <component type="typeof(Lower_Component)" render-mode="Static" />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>