@inherits Loogan.Web.UI.Components.LowerComponentBase

<div class="small-12 small-centered text-center columns" id="copyright">
    <div class="clearfix">
        <div class="newCopyright">
            <div class="legal">
                © @DateTime.Now.Year - @(DateTime.Now.Year + 2) @Localizer["LooganReservedKey"]
            </div>
        </div>
    </div>
    <div id="loginOptions">
    </div>
</div>

