@inherits Loogan.Web.UI.Components.LowerComponentBase

<div class="small-12 small-centered text-center columns" id="copyright">
    <div class="clearfix">
        <div class="newCopyright">
            <div class="legal">
                © 2023-2025 Loogan Inc. All Rights Reserved.
            </div>
        </div>
    </div>
    <div id="loginOptions">
    </div>
</div>

