.top-bar a,
.side-nav a,
.pagination a,
.accordion dd > a,
.tabs dd > a,
.breadcrumbs a,
.f-dropdown li a,
.off-canvas-list li a {
  text-decoration: none;
}

body:not(.hide-focus-outline) :focus {
  outline: $focus-outline;
}

a:not(.button) {
  @include focus-inset;
}

button, .button, button.dropdown, .button.dropdown {
  @include focus-outline;
}

// override Foundation's .right & .left for RTL support
.right {
  float: #{$opposite-direction} !important;
}
.left {
  float: #{$default-float} !important;
}
