$serif-font-family: Georgia, serif !default;

body {
  font-size: $default-font-size;
  line-height: $base-line-height;
}

h1, h2, h3 {
  &:not(.subheader) {
    font-family: $serif-font-family;
    font-weight: normal;
  }
}

h4, h5 {
  font-weight: $weight-normal;
}

h6 {
  font-weight: $weight-bold;
}

// override Foundation's .text-right & .text-left for RTL support
.text-right {
  text-align: #{$opposite-direction} !important;
}
.text-left {
  text-align: #{$default-float} !important;
}