@page "/Courses/courses"
@using Loogan.Web.UI.Components
@using Loogan.Web.UI.Pages.Shared
@model Loogan.Web.UI.Pages.Courses.CoursesModel
    
<component type="typeof(Upper_Component)" render-mode="Static" />
<div>
    <div id="site-wrap" class="off-canvas-wrap">
        <div class="inner-wrap">
            <div class="row">
                <div class="col-2 bb-login pointscroll leftmenu">
                    <component type="typeof(LeftSideBar_Component)" render-mode="Server" />
                </div>
                <div class="col-10 base-profile pointscroll righcontent">
                    <component type="typeof(Lower_Component)" render-mode="Static" /><br />
                </div>
            </div>
        </div>
    </div>
</div>