@page "leftsidebar"
@model Loogan.Web.UI.Pages.Shared.LeftSideBarModel
@{
}

<ul class="ulspace">
    <li class="text-white">
        <span class="logostyle">Loogan Learn</span>&copy;
    </li>
</ul>
<ul class="ulspace">
    <li class="liSpace">
        <img src="~/images/institution.png" alt="Institurion" width="30px" height="30px" />
        <a style="color:white;font-size:16px;" href="#">Institution Page</a>
    </li>
    <li class="liSpace">
        <img src="~/images/profile.png" width="30px" height="30px" />
        <a style="color:white;font-size:16px;" href="/Profile/Profile">Suresh Kalaga</a>
    </li>
    <li class="liSpace">
        <img src="~/images/activity.png" width="30px" height="30px" />
        <a style="color:white;font-size:16px;" href="#">Activity Stream</a>
    </li>
    <li class="liSpace">
        <img src="~/images/course.png" width="30px" height="30px" />
        <a style="color:white;font-size:16px;" href="#">Courses</a>
    </li>
    <li class="liSpace">
        <img src="~/images/organization.png" width="30px" height="30px" />
        <a style="color:white;font-size:16px;" href="#">Orgnizations</a>
    </li>
    <li class="liSpace">
        <img src="~/images/calendar.png" width="30px" height="30px" />
        <a style="color:white;font-size:16px;" href="#">Calendar</a>
    </li>
    <li class="liSpace">
        <img src="~/images/messages.png" width="30px" height="30px" />
        <a style="color:white;font-size:16px;" href="#">Messages</a>
    </li>
    <li class="liSpace">
        <img src="~/images/grades.png" width="30px" height="30px" />
        <a style="color:white;font-size:16px;" href="#">Grades</a>
    </li>
    <li class="liSpace">
        <img src="~/images/tools.png" width="30px" height="30px" />
        <a style="color:white;font-size:16px;" href="#">Tools</a>
    </li>
    <li class="liSpace">
        <img src="~/images/signout.png" width="30px" height="30px" />
        <a style="color:white;font-size:16px;" href="#">Sign Out</a>
    </li>
</ul>