@model Loogan.API.Models.Models.UserModel

<div class="modal modal-right fade" id="right_modal" tabindex="-1" role="dialog" aria-labelledby="right_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Contact Information</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Basic Information</h3>
                <hr />
                <p>
                    <div>
                        <b>First Name</b><br />
                        @Model?.FirstName
                    </div>

                    <div>
                        <b>Last Name</b><br />
                        @Model?.LastName
                    </div>
                    <div>
                        <b>Additional Name</b><br />
                        <input type="text" id="txtAddName" value="@Model?.AdditionalName" />
                    </div>
                    <div>
                        <b>Email Address</b><br />
                        @Model?.EmailAddress
                    </div>
                </p>
                <h3 style="margin:5px">Additional Information</h3>
                <hr />
                <p>
                    <div>
                        <b>Gender</b><br />
                        <select>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                    <div>
                        <b>Prefix</b><br />
                        <input id="txtPrefix" type="text" value="@Model?.PreFix" />
                    </div>
                    <div>
                        <b>Middle Name</b><br />
                        Need to Add
                    </div>
                    <div>
                        <b>Suffix</b><br />
                        <input id="txtSuffix" type="text" value="@Model?.Suffix" />
                    </div>
                    <div>
                        <b>Education Level</b><br />
                        <select>
                            <option>Junior</option>
                            <option>Senior</option>
                        </select>
                    </div>
                    <div>
                        <b>Website</b><br />
                        <input id="txtWebSite" type="text" value="@Model?.WebSite" />
                    </div>
                </p>

                <h3 style="margin:5px">Contact Information</h3>
                <hr />
                <p>
                    <div>
                        <b>City</b><br />
                        <input id="txtCity" type="text" value="@Model?.City" />
                    </div>
                    <div>
                        <b>State/Province</b><br />
                        <input id="txtState" type="text" value="@Model?.State" />
                    </div>
                    <div>
                        <b>Country</b><br />
                        <input id="txtCountry" type="text" value="@Model?.Country" />
                    </div>
                    <div>
                        <b>Phone Number</b><br />
                        <input id="txtPhone" type="text" value="@Model?.PhoneNumber" />
                    </div>
                    <div>
                        <b>Fax Number</b><br />
                        <input id="txtFax" type="text" value="@Model?.Fax" />
                    </div>
                </p>

                <h3 style="margin:5px">Job Information</h3>
                <hr />
                <p>
                    <div>
                        <b>Company</b><br />
                        <input id="txtCompany" type="text" value="@Model?.Company" />
                    </div>
                    <div>
                        <b>Job Title</b><br />
                        <input id="txtJobTitle" type="text" value="@Model?.JobTitle" />
                    </div>
                    <div>
                        <b>Department</b><br />
                        <input id="txtDepartment" type="text" value="@Model?.Department" />
                    </div>
                </p>
            </div>
            <div class="modal-footer modal-footer-fixed">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="button" class="btn btn-primary" value="Save changes" onclick="UpdateUser()" />
            </div>
        </div>
    </div>
</div>
<script>
    function UpdateUser() {
        var model = @Html.Raw(Json.Serialize(Model));
        model.additionalName = $('#txtAddName').val();
        model.genderId = 4;
        model.preFix = $('#txtPrefix').val();
        //middleName
        model.suffix = $('#txtSuffix').val();
        //eduction Level
        model.webSite = $('#txtWebSite').val();
        model.city = $('#txtCity').val();
        model.State = $('#txtState').val();
        model.country = $('#txtCountry').val();
        model.phoneNumber = $('#txtPhone').val();
        model.fax = $('#txtFax').val();
        model.company = $('#txtCompany').val();
        model.jobTitle = $('#txtJobTitle').val();
        model.department = $('#txtDepartment').val();

        $.ajax({
            method: 'Post',
            url: "/User/UpdateUser",
            data: { user: model },
            success: function (e) {

            },
            error: function (e) {

            }
        })
    }
</script>
