@page "/Staff/StaffDashboard"
@using Loogan.Web.UI.Components
@model Loogan.Web.UI.Pages.Staff.StaffDashboardModel
@attribute [Loogan.Web.UI.Utilities.LooganStudentAuthorize("Teacher")]
<div class="base-profile pointscroll righcontent scrollrightend">
</div>
