// .spaced for vertical row spacing
.row.spaced > .columns {
  margin-bottom: $row-vertical-spacing;
}

// only visible for screen readers
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// no maps in 3.2 so using this format
$varColors:
  "primary-lt"   $primary-color-lt,
  "primary"      $primary-color,
  "primary-dk"   $primary-color-dk,

  "secondary-lt" $secondary-color-lt,
  "secondary"    $secondary-color,
  "secondary-dk" $secondary-color-dk,

  "inverse-lt"   $inverse-color-lt,
  "inverse"      $inverse-color,
  "inverse-dk"   $inverse-color-dk,

  "primary-accent-lt"   $primary-accent-color-lt,
  "primary-accent"      $primary-accent-color,
  "primary-accent-dk"   $primary-accent-color-dk,

  "secondary-accent-lt" $secondary-accent-color-lt,
  "secondary-accent"    $secondary-accent-color,
  "secondary-accent-dk" $secondary-accent-color-dk,

  "success-lt"   $success-color-lt,
  "success"      $success-color,
  "success-dk"   $success-color-dk,

  "caution-lt"   $caution-color-lt,
  "caution"      $caution-color,
  "caution-dk"   $caution-color-dk,

  "warning-lt"   $warning-color-lt,
  "warning"      $warning-color,
  "warning-dk"   $warning-color-dk,

  "alert-lt"     $alert-color-lt,
  "alert"        $alert-color,
  "alert-ax"     $text-color-negative,
  "alert-dk"     $alert-color-dk
;
@each $color in $varColors {
  $name: nth($color, 1);
  $var: nth($color, 2);

  .text-#{$name} {
    color: $var;
  }
  .bg-#{$name} {
    background-color: $var;
  }
}
.text-color {
  color: $text-color;
}
.text-color-inverse {
  color: $text-color-inverse;
}

// need Sass v3.3 for maps
// $varColors: (
//  "primary-lt":   $primary-color-lt,
//  "primary":      $primary-color,
//  "primary-dk":   $primary-color-dk,

//  "secondary-lt": $secondary-color-lt,
//  "secondary":    $secondary-color,
//  "secondary-dk": $secondary-color-dk,

//     "inverse-lt":   $inverse-color-lt,
//     "inverse":      $inverse-color,
//     "inverse-dk":   $inverse-color-dk,

//  "success-lt":   $success-color-lt,
//  "success":      $success-color,
//  "success-dk":   $success-color-dk,

//  "warning-lt":   $warning-color-lt,
//  "warning":      $warning-color,
//  "warning-dk":   $warning-color-dk,

//  "alert-lt":     $alert-color-lt,
//  "alert":        $alert-color,
//  "alert-dk":     $alert-color-dk
// );
// @each $name, $var in $varColors {
//     .text-#{$name} {
//         color: $var;
//     }
//     .bg-#{$name} {
//         background-color: $var;
//     }
// }
