@import
  "../../../foundation/scss/foundation/functions",
  "colors"
;


// ================================================================= //
//  Fonts
// ================================================================= //

$sans-serif-font-family: "Open Sans", sans-serif !default; // deprecated - use $font-family-sans-serif
$serif-font-family: 'Noto Serif', serif !default; // deprecated - use $font-family-serif

// font-weights
$weight-light:     300 !default;
$weight-normal:    400 !default;
$weight-semi-bold: 600 !default;
$weight-bold:      700 !default;

// font-sizes
$font-size-small:   rem-calc(12) !default;
$font-size-normal:  rem-calc(14) !default;
$font-size-lead:    rem-calc(16) !default;
$font-size-medium:  rem-calc(18) !default;
$font-size-large:   rem-calc(24) !default;
$font-size-xlarge:  rem-calc(30) !default;
$font-size-xxlarge: rem-calc(36) !default;

$default-font-size: rem-calc(14) !default;

// icon-sizes
$icon-size-small:   $font-size-normal !default;
$icon-size-normal:  rem-calc(16) !default;
$icon-size-lead:    rem-calc(20) !default;
$icon-size-medium:  rem-calc(24) !default;
$icon-size-large:   rem-calc(32) !default;
$icon-size-xlarge:  rem-calc(48) !default;

// focus style
$focus-outline-width:   rem-calc(2) !default;
$focus-outline-opacity: 1 !default;
$focus-outline:         $focus-outline-width solid rgba($focus-color, $focus-outline-opacity) !default;
$focus-outline-shadow:  0 0 0 $focus-outline-width rgba($focus-color, $focus-outline-opacity) !default;
$focus-inset:           #{'inset'} $focus-outline-shadow !default;

// ================================================================= //
//
// ================================================================= //

$row-vertical-spacing: rem-calc(20) !default;
$global-vertical-spacing: rem-calc(20) !default;

$global-easing: cubic-bezier(.55, 0, .1, 1) !default;