.liSpace {
    padding: 10px 2px 4px 2px;
}

.ulspace {
    list-style-type: none;
    width: 100%;
    padding: 5px 0px 0px 0px;
}

.logostyle {
    font-size: 20px;
}

.pointscroll {
    height: 100vh;
    float: left;
    /*overflow: auto;*/
}

.leftmenu {
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999
}

.righcontent {
    z-index: 0;
    /*overflow-x: hidden*/
}

.base-profile .background {
    background-image: url(../images/theme.jpg);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 6.6875rem;
    position: relative;
    margin-bottom: -6.6875rem;
    margin-left: -25vw;
    margin-right: 25vw;
    padding: 0;
    top: -1.5625rem;
    width: 150vw
}

.base-profile .account-snapshot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .base-profile .account-snapshot .avatar-container {
        margin: 1.875rem 0 0 0
    }

        .base-profile .account-snapshot .avatar-container .avatar {
            width: 8.75rem;
            height: 8.75rem;
            box-shadow: 0 0 0 5px #f8f8f8
        }

            .base-profile .account-snapshot .avatar-container .avatar .initials {
                line-height: 8.75rem;
                font-size: calc(140 * 0.45)
            }

        .base-profile .account-snapshot .avatar-container .avatar-change {
            align-items: center;
            background-color: #f8f8f8;
            border-radius: 50%;
            color: #262626;
            display: flex;
            height: 2.5rem;
            justify-content: center;
            opacity: 1;
            margin: 0;
            position: absolute;
            top: -0.3125rem;
            width: 2.5rem;
            z-index: 100;
            right: -0.3125rem
        }

            .base-profile .account-snapshot .avatar-container .avatar-change:hover, .base-profile .account-snapshot .avatar-container .avatar-change:focus, .base-profile .account-snapshot .avatar-container .avatar-change:active {
                opacity: 1
            }

@media only screen and (min-width: 64em) {
    .base-profile .account-snapshot .avatar-container .avatar-change {
        opacity: 0;
        transition: opacity 250ms ease
    }

    .base-profile .account-snapshot .avatar-container.can-edit:hover .avatar-change, .base-profile .account-snapshot .avatar-container.can-edit:active .avatar-change {
        opacity: 1;
        cursor: pointer
    }
}

.base-profile .account-snapshot .user-name-container {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.9375rem;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    max-width: 100%
}

.base-profile .account-snapshot .username-container {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.125rem;
    margin-top: 0.9375rem;
    word-wrap: break-word
}

.base-profile .profile-content {
    margin-top: 2.5rem
}

    .base-profile .profile-content .user-information, .base-profile .profile-content .user-settings {
        padding: 0.25rem
    }

        .base-profile .profile-content .user-information a.privacy-policy-link, .base-profile .profile-content .user-settings a.privacy-policy-link {
            color: #666
        }

        .base-profile .profile-content .user-information section:not(:last-child), .base-profile .profile-content .user-settings section:not(:last-child) {
            margin-bottom: 1.875rem
        }

        .base-profile .profile-content .user-information section h2, .base-profile .profile-content .user-settings section h2 {
            font-family: "Open Sans",sans-serif;
            font-size: 1.125rem;
            font-weight: 600;
            margin: 0
        }

        .base-profile .profile-content .user-information section ul, .base-profile .profile-content .user-settings section ul {
            border: solid 1px #cdcdcd;
            margin: 0.625rem 0 0 0
        }

            .base-profile .profile-content .user-information section ul li, .base-profile .profile-content .user-settings section ul li {
                list-style: none;
                padding: 0
            }

            .base-profile .profile-content .user-information section ul .data-row, .base-profile .profile-content .user-settings section ul .data-row {
                align-items: center;
                background-color: #fff;
                color: #262626;
                display: flex;
                padding: 0.9375rem 0;
                position: relative
            }

                .base-profile .profile-content .user-information section ul .data-row.multiple-row-data, .base-profile .profile-content .user-settings section ul .data-row.multiple-row-data {
                    padding-top: 0
                }

                .base-profile .profile-content .user-information section ul .data-row.can-edit:hover, .base-profile .profile-content .user-settings section ul .data-row.can-edit:hover {
                    cursor: pointer
                }

                    .base-profile .profile-content .user-information section ul .data-row.can-edit:hover .data-value, .base-profile .profile-content .user-settings section ul .data-row.can-edit:hover .data-value {
                        text-decoration: underline
                    }

                        .base-profile .profile-content .user-information section ul .data-row.can-edit:hover .data-value .edit-icon, .base-profile .profile-content .user-settings section ul .data-row.can-edit:hover .data-value .edit-icon {
                            opacity: 1;
                            transition: opacity 250ms ease
                        }

                .base-profile .profile-content .user-information section ul .data-row.can-edit .data-value:focus .edit-icon, .base-profile .profile-content .user-settings section ul .data-row.can-edit .data-value:focus .edit-icon {
                    opacity: 1;
                    transition: opacity 250ms ease
                }

                .base-profile .profile-content .user-information section ul .data-row:not(:first-child):not(.multiple-row-data), .base-profile .profile-content .user-settings section ul .data-row:not(:first-child):not(.multiple-row-data) {
                    border-top: solid 1px #cdcdcd
                }

                .base-profile .profile-content .user-information section ul .data-row .data-container, .base-profile .profile-content .user-settings section ul .data-row .data-container {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    margin-left: 0.625rem;
                    margin-right: 2.875rem;
                    max-width: calc(100% - 3.5rem)
                }

                    .base-profile .profile-content .user-information section ul .data-row .data-container .data-title, .base-profile .profile-content .user-settings section ul .data-row .data-container .data-title {
                        flex: 1;
                        font-size: .875rem;
                        font-weight: 700;
                        margin-right: 1.25rem;
                        overflow: hidden;
                        word-wrap: break-word
                    }

                    .base-profile .profile-content .user-information section ul .data-row .data-container .data-value, .base-profile .profile-content .user-settings section ul .data-row .data-container .data-value {
                        flex: 1;
                        font-size: .875rem;
                        font-weight: 400;
                        overflow: hidden;
                        word-wrap: break-word
                    }

                        .base-profile .profile-content .user-information section ul .data-row .data-container .data-value.missing:hover, .base-profile .profile-content .user-information section ul .data-row .data-container .data-value.missing:focus, .base-profile .profile-content .user-information section ul .data-row .data-container .data-value.missing:active, .base-profile .profile-content .user-information section ul .data-row .data-container .data-value .missing:hover, .base-profile .profile-content .user-information section ul .data-row .data-container .data-value .missing:focus, .base-profile .profile-content .user-information section ul .data-row .data-container .data-value .missing:active, .base-profile .profile-content .user-settings section ul .data-row .data-container .data-value.missing:hover, .base-profile .profile-content .user-settings section ul .data-row .data-container .data-value.missing:focus, .base-profile .profile-content .user-settings section ul .data-row .data-container .data-value.missing:active, .base-profile .profile-content .user-settings section ul .data-row .data-container .data-value .missing:hover, .base-profile .profile-content .user-settings section ul .data-row .data-container .data-value .missing:focus, .base-profile .profile-content .user-settings section ul .data-row .data-container .data-value .missing:active {
                            color: #1a5e82
                        }

                        .base-profile .profile-content .user-information section ul .data-row .data-container .data-value.spinner, .base-profile .profile-content .user-settings section ul .data-row .data-container .data-value.spinner {
                            overflow: visible;
                            position: relative;
                            left: 0
                        }

                            .base-profile .profile-content .user-information section ul .data-row .data-container .data-value.spinner:after, .base-profile .profile-content .user-settings section ul .data-row .data-container .data-value.spinner:after {
                                height: 1.5rem;
                                width: 1.5rem;
                                top: 1.5rem;
                                left: 1.5rem
                            }

                        .base-profile .profile-content .user-information section ul .data-row .data-container .data-value .edit-icon, .base-profile .profile-content .user-settings section ul .data-row .data-container .data-value .edit-icon {
                            color: #262626;
                            line-height: 0.875rem;
                            margin-right: 0.625rem;
                            transition: opacity 250ms ease;
                            vertical-align: middle;
                            position: absolute;
                            right: 0;
                            top: calc(50% - 0.875rem / 2)
                        }

@media only screen and (min-width: 64em) {
    .base-profile .profile-content .user-information section ul .data-row .data-container .data-value .edit-icon, .base-profile .profile-content .user-settings section ul .data-row .data-container .data-value .edit-icon {
        opacity: 0
    }

        .base-profile .profile-content .user-information section ul .data-row .data-container .data-value .edit-icon:active, .base-profile .profile-content .user-information section ul .data-row .data-container .data-value .edit-icon:focus, .base-profile .profile-content .user-settings section ul .data-row .data-container .data-value .edit-icon:active, .base-profile .profile-content .user-settings section ul .data-row .data-container .data-value .edit-icon:focus {
            opacity: 1
        }
}

.base-profile .profile-content .user-information section ul .data-row .data-container .data-value .edit-icon.multiple-row-icon, .base-profile .profile-content .user-settings section ul .data-row .data-container .data-value .edit-icon.multiple-row-icon {
    top: calc( 25% - 0.875rem / 2) !important
}

@media only screen and (min-width: 64em) {
    .base-profile .profile-content .user-information section ul .data-row .data-container .data-value .edit-icon.trash-icon, .base-profile .profile-content .user-settings section ul .data-row .data-container .data-value .edit-icon.trash-icon {
        opacity: unset;
        top: 0
    }
}

.base-profile .profile-content .user-information section ul .data-row .data-container .data-value-left, .base-profile .profile-content .user-settings section ul .data-row .data-container .data-value-left {
    display: flex;
    flex: 1;
    font-size: .875rem;
    margin-right: 1.25rem;
    overflow: hidden;
    word-wrap: break-word
}

.base-profile .profile-content .user-information section ul .data-row .data-container .svg-data-value, .base-profile .profile-content .user-settings section ul .data-row .data-container .svg-data-value {
    margin-right: 0.625rem
}

@media only screen and (min-width: 40em) {
    .base-profile .profile-content .user-information section ul .data-row, .base-profile .profile-content .user-settings section ul .data-row {
        padding: 1.25rem 0
    }

        .base-profile .profile-content .user-information section ul .data-row .data-container, .base-profile .profile-content .user-settings section ul .data-row .data-container {
            flex-direction: row;
            margin: 0 1.25rem;
            margin-left: 1.25rem;
            margin-right: 3.1875rem;
            max-width: calc(100% - 4.4375rem)
        }

            .base-profile .profile-content .user-information section ul .data-row .data-container .data-value .edit-icon, .base-profile .profile-content .user-settings section ul .data-row .data-container .data-value .edit-icon {
                margin-right: 0.9375rem
            }
}

.base-profile .profile-content .user-settings {
    margin-top: 1.875rem
}

@media only screen and (min-width: 40em) {
    .base-profile .profile-content .user-information, .base-profile .profile-content .user-settings {
        padding: 0 0.75rem
    }
}

@media only screen and (min-width: 64em) {
    .base-profile .profile-content .user-information, .base-profile .profile-content .user-settings {
        padding: 0 1.875rem
    }

    .base-profile .profile-content .user-information {
        border-right: solid 1px #cdcdcd;
        padding-left: 1.125rem
    }

    .base-profile .profile-content .user-settings {
        margin-top: 0;
        padding-right: 1.125rem
    }
}

.reveal-modal.change-password {
    top: 40%
}

.language-settings .panel-content-wrapper {
    margin: 0;
    padding: 0
}

    .language-settings .panel-content-wrapper .panel-info-language {
        margin: 0
    }

    .language-settings .panel-content-wrapper label {
        padding-top: 1.875rem
    }

.privacy-settings .fieldset-privacy {
    border: none;
    margin: 0;
    padding: 0
}

    .privacy-settings .fieldset-privacy .panel-content-inner .panel-info {
        margin-bottom: 1.25rem
    }

    .privacy-settings .fieldset-privacy .panel-content-inner .panel-options {
        margin-bottom: 0.9375rem;
        margin-left: 1.25rem
    }

        .privacy-settings .fieldset-privacy .panel-content-inner .panel-options input[type='radio'] {
            position: absolute
        }

        .privacy-settings .fieldset-privacy .panel-content-inner .panel-options label {
            font-weight: 400;
            margin-bottom: 0
        }

    .privacy-settings .fieldset-privacy .panel-content-inner .profile-info-display, .privacy-settings .fieldset-privacy .panel-content-inner .profile-info-display > ul {
        color: #767676;
        font-size: .75rem
    }

.bg-usercard {
    display: none
}

    .bg-usercard.showcard {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #262626
    }

.linkUsercard {
    overflow: hidden
}

.usercard-container > div {
    z-index: initial !important
}

.usercard {
    background: #fff;
    box-shadow: 0 0 6px rgba(0,0,0,0.5),0 0 0 2px rgba(38,38,38,0.7);
    cursor: default;
    overflow: hidden;
    position: absolute !important;
    padding: 0;
    margin: 0;
    max-width: 15rem;
    width: 15rem;
    z-index: 2000 !important;
    display: block;
    opacity: 0;
    top: -624.9375rem;
    left: -624.9375rem;
    transition: opacity 400ms
}

@media only screen and (min-width: 40em) {
    .usercard {
        max-width: 18.75rem;
        width: 18.75rem
    }
}

.usercard.showcard {
    top: 0.9375rem;
    left: 10%;
    opacity: 1;
    padding-left: 0 !important
}

@media only screen and (min-width: 40em) {
    .usercard.showcard {
        left: 1.875rem
    }
}

.usercard.showcard.peek-panel {
    top: 1.5625rem !important;
    left: 2.5rem !important
}

.usercard.showcard .mail-button bb-svg-icon {
    color: #767676
}

.usercard.hidecard {
    opacity: 0
}

.usercard .header, .usercard header {
    padding: 0.625rem;
    margin: 0;
    display: flex
}

    .usercard .header .element-details, .usercard header .element-details {
        margin: 0;
        padding: 0;
        padding-left: 0.625rem;
        min-height: 3.375rem;
        overflow: hidden;
        flex: 1
    }

        .usercard .header .element-details .name, .usercard header .element-details .name {
            margin: 0;
            overflow: hidden
        }

            .usercard .header .element-details .name .name-title, .usercard header .element-details .name .name-title {
                width: 100%;
                font-family: "Open Sans",sans-serif;
                font-weight: 600;
                color: #262626
            }

        .usercard .header .element-details .sector, .usercard header .element-details .sector {
            font-size: 0.75rem;
            line-height: 0.75rem;
            margin: 0;
            padding: 0;
            margin-top: 0.3125rem;
            width: 100%
        }

        .usercard .header .element-details .userId, .usercard .header .element-details .profile, .usercard header .element-details .userId, .usercard header .element-details .profile {
            font-family: "Open Sans",sans-serif;
            color: #666;
            font-size: 0.75rem;
            padding: 0;
            margin: 0;
            width: 100%
        }

        .usercard .header .element-details .clickable, .usercard header .element-details .clickable {
            color: #262626
        }

            .usercard .header .element-details .clickable:hover, .usercard header .element-details .clickable:hover {
                cursor: pointer;
                text-decoration: underline
            }

    .usercard .header .element-image, .usercard header .element-image {
        position: relative;
        left: auto;
        top: 0;
        margin-top: 0
    }

        .usercard .header .element-image.inactive:before, .usercard header .element-image.inactive:before {
            width: 3.71175rem;
            top: 1.3125rem;
            left: -0.54338rem
        }

.usercard .buttons {
    border-top: 1px solid #e5e5e5;
    display: block !important
}

    .usercard .buttons .button, .usercard .buttons button {
        margin: 0;
        color: #767676;
        float: right;
        vertical-align: middle
    }

        .usercard .buttons .button:hover, .usercard .buttons .button:focus, .usercard .buttons button:hover, .usercard .buttons button:focus {
            background: transparent;
            color: #262626
        }

        .usercard .buttons .button.wrap, .usercard .buttons button.wrap {
            line-height: 0.8125rem
        }

        .usercard .buttons .button label, .usercard .buttons button label {
            display: inline-block
        }

        .usercard .buttons .button i, .usercard .buttons button i {
            font-size: 1.25rem;
            vertical-align: middle
        }

        .usercard .buttons .button span, .usercard .buttons button span {
            margin: 0;
            display: none
        }

.usercard .instructor, .usercard .instructor button {
    float: left !important;
    margin: 0;
    width: 100% !important
}

.usercard a:not(.button) {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap !important;
    word-wrap: normal !important;
    color: #262626;
    text-decoration: none;
    padding-bottom: 0.0625rem
}

    .usercard a:not(.button):hover, .usercard a:not(.button):focus {
        text-decoration: underline
    }

.element-card .usercard-clickable .usercard-button .avatar-inner img:hover, .element-card .usercard-clickable .usercard-button .avatar-inner .initials:hover {
    cursor: pointer
}

.element-card .usercard-clickable .usercard-button .username {
    cursor: pointer
}

.element-card .usercard-not-clickable .usercard-button .avatar-inner img:hover, .element-card .usercard-not-clickable .usercard-button .avatar-inner .initials:hover {
    cursor: default
}

.element-card .usercard-not-clickable .usercard-button .username {
    cursor: text
}

.element-card .element-details .exception-link {
    padding-top: 0.4375rem !important;
    display: inline-block
}

    .element-card .element-details .exception-link bb-svg-icon {
        color: #c56fd5
    }

    .element-card .element-details .exception-link a, .element-card .element-details .exception-link span {
        position: absolute;
        padding-left: 0.4375rem;
        padding-top: 0.1875rem
    }

.element-card.usercard-not-clickable .header .element-details {
    cursor: auto
}

.course-element-card .usercard .buttons button {
    opacity: 1
}

.user-info-page section {
    margin-bottom: 1.875rem
}

    .user-info-page section h2 {
        padding: 0 0 1.25rem;
        margin: 0 0 1.25rem;
        border-bottom: #cdcdcd 1px solid;
        font-size: 1.125rem;
        font-weight: 600;
        font-family: "Open Sans",sans-serif
    }

    .user-info-page section .non-editable-label {
        margin-bottom: 0.1875rem
    }

    .user-info-page section .non-editable-label-display-name {
        margin-left: 0.75rem
    }

    .user-info-page section .info-fields {
        display: inline-flex;
        width: 100%
    }

        .user-info-page section .info-fields .phone-number {
            margin-right: -0.0625rem;
            flex: 1
        }

            .user-info-page section .info-fields .phone-number input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0
            }

        .user-info-page section .info-fields .phone-type {
            flex: 0 1 auto;
            min-width: 25%
        }

            .user-info-page section .info-fields .phone-type select {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                padding-right: 0.9375rem
            }

    .user-info-page section .sub-row {
        margin-bottom: 0.9375rem
    }

    .user-info-page section .icon-small-information-vertical-align {
        vertical-align: sub;
        font-size: 0.875rem
    }

    .user-info-page section .info-row {
        margin-bottom: 0.9375rem
    }

        .user-info-page section .info-row label {
            color: #262626;
            font-size: .875rem;
            font-weight: 700;
            padding-bottom: 0.125rem
        }

        .user-info-page section .info-row input {
            height: 2.375rem;
            margin-bottom: 0.25rem
        }

        .user-info-page section .info-row .display-name-radio-group-title {
            padding: 0
        }

        .user-info-page section .info-row .display-name-radio-input + label::after {
            background-color: #fff
        }

        .user-info-page section .info-row .display-name-radio-input + label {
            margin-left: 1rem
        }

        .user-info-page section .info-row .display-name-radio-input {
            margin-bottom: 0;
            position: absolute
        }

        .user-info-page section .info-row select {
            height: 2.375rem;
            margin-bottom: 0
        }

    .user-info-page section .info-row-pronoun {
        margin-bottom: 0.9375rem
    }

        .user-info-page section .info-row-pronoun #request-new-pronouns {
            margin-bottom: 0;
            border: 0
        }

            .user-info-page section .info-row-pronoun #request-new-pronouns:focus {
                box-shadow: inset 4px 0 0 4px rgba(0,109,199,0.1)
            }

    .user-info-page section .info-row#info-row-pronunciation .non-editable-label {
        display: flex
    }

        .user-info-page section .info-row#info-row-pronunciation .non-editable-label button {
            padding: 0.1875rem 0.3125rem;
            min-width: 0;
            min-height: 0
        }

    .user-info-page section .info-row .display-name-radio-group {
        border: 0;
        padding: 0;
        margin: 0
    }

    .user-info-page section .info-row .display-name-radio-items {
        margin-top: 1rem
    }

    .user-info-page section .info-row .display-name-radio-item label {
        font-weight: 400
    }

    .user-info-page section .msg-row {
        color: #767676
    }

.card-preview-section {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 10;
    margin: 0 -1.875rem;
    padding: 0 1.875rem;
    background-color: #fff
}

    .card-preview-section h2 {
        font-size: 1.125rem;
        font-weight: 600;
        font-family: "Open Sans",sans-serif
    }

    .card-preview-section .card-preview-containter {
        position: relative;
        width: 100%;
        bottom: 0;
        padding: 0.75rem 0 1.5625rem;
        box-shadow: 0px 0px 10px -2px #666;
        -webkit-clip-path: inset(-0.625rem 0 0 0);
        clip-path: inset(-0.625rem 0 0 0)
    }

.basic-profile-form .panel-wrap.has-footer {
    padding-bottom: 0 !important
}

.basic-profile-form .panel-content {
    padding-bottom: 0
}

.update-avatar .panel-content .current-avatar button {
    padding: 0;
    margin-bottom: 0
}

    .update-avatar .panel-content .current-avatar button:hover {
        background-color: #fff
    }

.update-avatar .panel-content bb-user-avatar.avatar-large {
    width: 18.75rem;
    height: 18.75rem;
    margin: 1.875rem
}

    .update-avatar .panel-content bb-user-avatar.avatar-large .initials {
        line-height: 18.75rem;
        font-size: calc(300 * 0.45)
    }

.update-avatar .panel-content .avatar-large img {
    height: 100%;
    width: auto
}

.update-avatar .panel-content .avatar-large .avatar {
    height: auto;
    width: auto
}

    .update-avatar .panel-content .avatar-large .avatar .avatar-inner {
        width: 18.75rem;
        height: 18.75rem;
        margin: 1.875rem
    }

    .update-avatar .panel-content .avatar-large .avatar .initials {
        line-height: 18.75rem;
        font-size: calc(300 * 0.45)
    }

.update-avatar .panel-content .drag {
    background: transparent
}

.update-avatar .panel-content button {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap !important;
    word-wrap: normal !important
}

    .update-avatar .panel-content button span {
        white-space: nowrap;
        display: inline !important
    }

/*Courses */
.color-selection-live-mode .base-navigation-button-content .base-navigation-button-badge {
    border: solid 2px #262626 !important;
}

.color-selection-live-mode .base-navigation-button-content:hover .base-navigation-button-badge {
    border: solid 2px #1b1b1b !important;
}

.color-selection-live-mode .active .base-navigation-button-content .base-navigation-button-badge {
    border: solid 2px #000000 !important;
}

.btnactivetab {
    color: #fff;
    background-color: darkseagreen;
    font-style: italic;
}

.ulspace li:hover {
    color: #fff;
    background: #b3b3b3;
    font-style: normal;
}

.ulspace li:focus {
    color: #fff;
    background-color: #000;
    font-style: italic;
}

.child {
    width: 15vw;
    position: absolute;
    text-align: center;
    display: none;
    z-index: 100;
    cursor: pointer;
}

.ulcourse {
    border: 1px solid gray;
    background-color: white;
    padding: 5px;
}

    .ulcourse li:hover {
        color: #fff;
        background: #000;
        font-style: normal;
    }

.divpic {
    margin-top: 25px
}

.pic {
    width: 100%;
    border: 1px solid gray;
    border-left: 1px solid gray;
    padding: 0px;
}

.imgpic {
    width: 70vw;
    height: 20vh;
    text-align: center;
    cursor: pointer
}

.txtpaddingleft {
    text-align: left;
    padding: 5px
}

.txtpaddingright {
    text-align: right;
    padding: 3px
}

.divlist {
    margin-top: 25px;
    display: none;
    text-align: center
}

.divlistmargin {
    margin: 5px;
    border: 1px solid gray;
    text-align: center
}

.divlistleftborder {
    text-align: left;
    color: gray;
    font-size: 13px;
    border-left: 10px solid gray;
    padding: 3px
}

.divlistlightgray {
    font-size: 15px;
    color: lightgray;
    font-weight: bold;
}

.anchornounderline {
    text-decoration: none;
    cursor: pointer;
}

.coursetitle {
    font-style: italic;
    padding: 10px
}

.coursepicleftarrow {
    text-align: center;
    border-bottom: 1px solid gray
}

.fontitalic {
    font-style: italic;
}

.courseborderbottomright {
    text-align: center;
    border-bottom: 1px solid gray
}

.margintop25 {
    margin-top: 25px
}

.margintop5 {
    margin-top: 5px !important
}

.paddingtop2 {
    padding-top: 2px !important
}

.picimgalign {
    cursor: pointer;
    vertical-align: middle
}

.textlaignleft {
    text-align: left
}

.pichide {
    margin-top: 5px;
}

#ddlCourse {
    width: 15vw;
    font-style: italic;
    border: 0px
}
.picfont{
    font-size:13px;
    font-family:Arial;
}

@supports ((-webkit-text-stroke-color: #a234b5) and (-webkit-text-fill-color: #fff)) or ((-moz-text-stroke-color: #a234b5) and (-moz-text-fill-color: #fff)) {
    @media only screen and (min-width: 64em) {
        .bb-close {
            -moz-text-fill-color: #fff;
            -moz-text-stroke-color: #a234b5;
            -moz-text-stroke-width: 0.0625rem;
        }
    }
}

@media only screen and (min-width: 64em) {
    .bb-close {
        background-color: #c56fd5;
        color: #fff !important;
        right: auto;
        left: 0rem;
        top: 0.2rem;
        z-index: 910;
        height: 2.5rem;
        font-weight: 400;
        font-size: 2.25rem;
        padding: 0;
        padding-bottom: 0.1875rem;
        margin: 0;
        width: 2.5rem;
        line-height: 1rem;
        box-shadow: none;
        border-radius: 0;
        position: absolute;
        text-decoration: none;
    }
}
.bb-close:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border-style: solid;
    border-width: 0 24px 17px 0;
    border-color: transparent #8d4a99 transparent transparent;
}

.chatcontainer {
    background-color: rgba(0, 0, 0, 0.05);
    border: thick solid #808080;
    padding: 20px;
    margin: 20px;
}

.marquee {
    position: relative;
    animation: marquee 4s linear infinite;
    text-align: left;
    color:darkolivegreen;
}

@keyframes marquee {
    0% {
        top: 10em
    }

    100% {
        top: -2em
    }
}

