@page "/Dashboard/adminDashboardModel"
@using Loogan.Web.UI.Components
@model Loogan.Web.UI.Pages.Dashboard.AdminDashboardModel

<component type="typeof(Upper_Component)" render-mode="Static" />
<div>
    <div id="site-wrap" class="off-canvas-wrap" data-offcanvas="" style="height:580px">
        <div class="row" style="height: 0">
        </div>
        <div class="inner-wrap" ui-view="" style="height:100%">
            <div class="row">
                <div class="col-2 bb-login" style="overflow-y:auto;height:580px;overflow-x:hidden">
                    @{
                        LeftSideBarModel leftSideBar = new LeftSideBarModel();
                        await Html.RenderPartialAsync("leftsidebar", leftSideBar);
                    }
                </div>
                <div class="col-10">
                    <partial name="_LanguageSwitcher"></partial> &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>
<component type="typeof(Lower_Component)" render-mode="Static" /> <br/>