@page "/Dashboard/dashboard"
@using Loogan.Web.UI.Components
@using Loogan.Web.UI.Resources.Pages
@using Microsoft.Extensions.Localization
@model DashboardModel
@inject IStringLocalizer<ContentLabel> Localizer

<component type="typeof(Upper_Component)" render-mode="Static" />
<div>
    <div id="site-wrap" class="off-canvas-wrap" data-offcanvas="">
        <div class="row" style="height: 0">
        </div>
        <div class="inner-wrap" ui-view="" style="height:100%">
            <div class="row">
                <div class="col-2 bb-login">
                    <component type="typeof(LeftSideBar_Component)" render-mode="Server" />
                </div>
                <div class="col-10 text-sm-end">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>
<component type="typeof(Lower_Component)" render-mode="Static" />
<br />















